@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding-top: 56px;
}

h1.title {
  font-size: 2.8rem;
}

h2.subtitle {
  font-size: 3rem;
  font-family: 'Parisienne';
}

span.border-rounder {
  border-radius: 5px;
}

footer {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  color: white;
  background-color: #000000;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.2);
  margin-top: auto;
  border-top: 1px solid black;
}
